body {    
    background-color: rgb(100, 41, 41);
    font-family: Helvetica, arial, sans-serif;
    font-size: 20px; 
    padding-top: 50px;
}

.container {
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
    position: relative;
}

#form {
    padding: 5px 15px 15px 15px;
    background-color: burlywood;
    border-radius: 5%;
    border-style: solid;
    border-color: darkred;
    font-family: Helvetica, arial, sans-serif;
    
}

#form input[type="number"], 
#drop-down {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border-style: solid;
    margin-top: 20px;
} 

#form button {
    color: wheat;
    width: 100px;
    height: 30px;
    background-color: rgb(100, 41, 41);
    text-align: center;
    border-style: solid;
    border-radius: 5px;
    margin-top: 20px;
}